#game
    background-color: #00a824
    min-height: 100vh
    .box
        width: 520px
        height: 400px
        background-color: #ffffff
        margin-top: 110px
        border-radius: 20px
        h1
            font-size: 26px
            margin: 12px 0
            font-weight: 500
        h3
            font-size: 26px
            font-weight: 500
        h4
            font-size: 20px
            margin: 20px 0
        .btn
            border: 1px solid #00a824
        .button
            background-color: #00a824
            padding: 14px 17px
            width: 200px
            border-radius: 20px
            margin-left: 160px
            h2
                color: #ffffff
        input
            margin: 50px 0
            border-bottom: 4px solid #00a824
